# Ignore the CHANGELOG so that prettier doesn't mess with the custom "bump hack"
# (see tasks.py in the project root for details of the "bump hack")
CHANGELOG.md

# Ignore all HTML files:
*.html

# Ignore the vendors folder:
**/vendors/**/*.*
