[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-sugar = "*"
pytest-xdist = "*"
pytest-factoryboy = "*"
pytest-dotenv = "*"
pytest-mock = "*"
pytest-logger = "*"
doc8 = "*"
black = "==19.10b0"
rope = "*"
flake8 = "*"
django-debug-toolbar = "*"
werkzeug = "*"
faker = "*"
# wagtail-factories = "*"
wagtail-factories = {file = "https://github.com/mvantellingen/wagtail-factories/archive/master.zip"}
pre-commit = "*"
isort = {extras = ["pipfile"],version = "*"}

[packages]
django = ">=2.2,<3.0"
wagtail = ">=2.9,<3.0"
django-environ = "*"
ipinfo = "*"
django-recaptcha = "*"
django-countries = "*"
pyyaml = "*"
ua-parser = "*"
user-agents = "*"
django-user-agents = "*"
django-extensions = "*"
django-multiselectfield = "*"
django-intl-tel-input = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-leaflet = "*"
django-nexmo = "==2.0.0a1"
wagtailfontawesome = "*"
django-widget-tweaks = "*"
django-el-pagination = "*"
django-social-share = "*"
django-colorful = "*"
beautifulsoup4 = "*"
html5lib = "*"
slimit = "*"
csscompressor = "*"
brotli = "*"
lxml = "*"
django-compressor = "*"
readtime = "*"
bleach = "*"
openpyxl = "*"
django-model-utils = "*"
django-autoslug = "*"
feedparser = "*"
simplejson = "*"
argon2-cffi = "*"
bcrypt = "*"
faker-e164 = "*"
django-maintenancemode-2 = "*"
yattag = "*"
fake-useragent = "*"
titlecase = "*"
elasticsearch = ">=7.0.0,<8.0.0"
pytest = "==5.3.5"
psycopg2 = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"
