# Core
django>=2.2,<3.0
wagtail>=2.10,<3.0
argon2-cffi
bcrypt
beautifulsoup4
bleach
brotli
csscompressor
django-autoslug
django-colorful
django-compressor
django-countries
django-debug-toolbar
django-el-pagination
django-environ
django-extensions
django-intl-tel-input
django-leaflet
django-maintenancemode-2
django-model-utils
django-multiselectfield
django-nexmo==2.0.0a1
django-phonenumber-field
django-recaptcha
django-social-share
django-user-agents
django-widget-tweaks
feedparser
html5lib
ipinfo
openpyxl
phonenumbers
psycopg2
pyyaml
readtime
simplejson
slimit
titlecase
ua-parser
user-agents
werkzeug
wagtailfontawesome
xlrd
xlwt
yattag

# Dev
bpython
black
commitizen
doc8
flake8
powerline-status
isort[requirements_deprecated_finder]
pip-tools
pre-commit

# Test
fake-useragent
faker-e164
pytest-cov
pytest-django
pytest-dotenv
pytest-factoryboy
pytest-logger
pytest-mock
pytest-sugar
pytest-xdist
wagtail-factories @ https://github.com/wagtail/wagtail-factories/archive/master.zip
