cookiecutter==2.5.0
sh==2.0.6

# Code quality
# ----------------------------------------------------------------------------
black==23.12.1
flake8==6.1.0
flake8-isort==6.1.1

# Dev
# ----------------------------------------------------------------------------
bumpver==2023.1129
bpython
commitizen==3.13.0
invoke==2.2.0
pre-commit==3.6.0

# Testing
# ----------------------------------------------------------------------------
pytest==7.4.3
pytest-cookies==0.7.0
pytest-cov==4.1.0
pytest-factoryboy==2.6.0
pytest-instafail==0.5.0
pytest-logger==0.5.1
pytest-mock==3.12.0
pytest-sugar==0.9.7
pytest-xdist==3.5.0
