django>=2.2,<3.0
wagtail==2.8
black==19.10b0
cookiecutter==1.7.0
doc8==0.8.0
flake8==3.7.9
pre-commit==2.2.0
pylint==2.4.4
pytest-cov==2.8.1
pytest-django==3.8.0
pytest-dotenv==0.4.0
pytest-factoryboy==2.0.3
pytest-logger==0.5.1
pytest-mock==2.0.0
pytest-sugar==0.9.2
pytest-xdist==1.31.0
rope==0.16.0
rstcheck==3.3.1
