cookiecutter==1.7.2
sh==1.13.1
binaryornot==0.4.4
pre-commit==2.6.0

# Code quality
# ----------------------------------------------------------------------------
black==19.10b0
flake8==3.8.3
flake8-isort==3.0.1

# Testing
# ----------------------------------------------------------------------------
pytest==6.0.1
pytest-cookies==0.5.1
pytest-cov==2.10.0
pytest-factoryboy==2.0.3
pytest-instafail==0.4.2
pytest-logger==0.5.1
pytest-mock==3.2.0
pytest-sugar==0.9.4
pytest-xdist==1.34.0
pyyaml==5.3.1
