/* ABOUT US -- Team Members
 * --------------------------------------------------
 */

.card .artcl-bio {
  padding: 5px;
  position: absolute;
  right: 2.5px;
  top: 2.5px;
}

.card-body .fa-facebook-f {
  color: #3b5998;
}

.card-body .fa-twitter {
  color: #55acee;
}

.card-body .fa-linkedin-in {
  color: #0077b5;
}
