# General Settings

# Use any of these commands to quickly generate a new secret key:
# $ openssl rand -hex 32
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(100)]))'
DJANGO_SECRET_KEY=CHANGEME!!!

DATABASE_URL=postgis://db_user:db_password@host:port/db_name
# DATABASE_URL=postgres://db_user:db_password@host:port/db_name
CONN_MAX_AGE=60

DEBUG=False

# EMAIL_RECIPIENTS=Full Name <email-with-name@{{cookiecutter.domain_name}}>,anotheremailwithoutname@{{cookiecutter.domain_name}}
EMAIL_RECIPIENTS=Change This <email@{{cookiecutter.domain_name}}>
# DEFAULT_FROM_EMAIL=Full Name <email-with-name@{{cookiecutter.domain_name}}>
DEFAULT_FROM_EMAIL={{cookiecutter.project_name}} <{{ cookiecutter.author_name.lower()|replace(' ', '-') }}@{{cookiecutter.domain_name}}>
# https://docs.djangoproject.com/en/dev/ref/settings/#server-email
DJANGO_SERVER_EMAIL=

ALLOWED_HOSTS={{cookiecutter.domain_name}}
BASE_URL=https://www.{{cookiecutter.domain_name}}

# Google Recaptcha
RECAPTCHA_PUBLIC_KEY=ADDRECAPTCHAPUBKEY!!!
RECAPTCHA_PRIVATE_KEY=ADDRECAPTCHAPRIVKEY!!!

# Sendgrid
SENDGRID_API_KEY=CONFIGUREMAIL!!!
SENDGRID_GENERATE_MESSAGE_ID=True
SENDGRID_MERGE_FIELD_FORMAT=None

# Mapbox
MAPBOX_ACCESS_TOKEN=CONFIGUREMAPBOX!!!

# Vonage (formerly Nexmo) SMS API
NEXMO_API_KEY=
NEXMO_API_SECRET=
NEXMO_DEFAULT_FROM=
# VONAGE_API_KEY=
# VONAGE_API_SECRET=
# VONAGE_DEFAULT_FROM=

# Cloudflare (https://docs.wagtail.io/en/v2.12/reference/contrib/frontendcache.html#cloudflare)
CLOUDFLARE_BEARER_TOKEN=CHANGE_ME!!!
CLOUDFLARE_DOMAIN_ZONE_ID=CHANGE_ME!!!

# Sentry
SENTRY_DSN=CONFIGURESENTRY!!!
DJANGO_SENTRY_LOG_LEVEL=20
SENTRY_ENVIRONMENT=production
SENTRY_TRACES_SAMPLE_RATE=0.5

# Redis
REDIS_URL=CONFIGUREREDIS!!!
# REDIS_URL=redis://127.0.0.1:6379/1
REDIS_KEY_PREFIX=CHANGEME!!!

# Memcached
MEMCACHED_URL=127.0.0.1:11211

# Celery
# CELERY_BROKER_URL=redis://127.0.0.1:6379/1
