# General Settings

# Use any of these commands to quickly generate a new secret key:
# $ openssl rand -hex 32
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(100)]))'
DJANGO_SECRET_KEY=CHANGEME!!!
DATABASE_URL=CONFIGUREDB!!!
# DATABASE_URL=postgres://db_user:db_password@host:port/db_name
# DATABASE_URL=postgis://db_user:db_password@host:port/db_name
DEBUG=True
ALLOWED_HOSTS=
BASE_URL=http://127.0.0.1:8000

# Google Recaptcha
RECAPTCHA_PUBLIC_KEY=ADDRECAPTCHAPUBKEY!!!
RECAPTCHA_PRIVATE_KEY=ADDRECAPTCHAPRIVKEY!!!

# Mapbox
MAPBOX_ACCESS_TOKEN=CONFIGUREMAPBOX!!!

# Vonage (formerly Nexmo) SMS API
NEXMO_API_KEY=
NEXMO_API_SECRET=
NEXMO_DEFAULT_FROM=
# VONAGE_API_KEY=
# VONAGE_API_SECRET=
# VONAGE_DEFAULT_FROM=

# Celery
# CELERY_BROKER_URL=redis://127.0.0.1:6379/1
