# General Settings

# Command to create a new secret key:
# $ python -c 'import random; import string; print("".join([random.SystemRandom().choice(string.digits + string.ascii_letters + string.punctuation) for i in range(100)]))'
DJANGO_SECRET_KEY=CHANGEME!!!
DATABASE_URL=CONFIGUREDB!!!
DEBUG=True
ALLOWED_HOSTS=
BASE_URL=http://127.0.0.1:8000

# Google Recaptcha
RECAPTCHA_PUBLIC_KEY=ADDRECAPTCHAPUBKEY!!!
RECAPTCHA_PRIVATE_KEY=ADDRECAPTCHAPRIVKEY!!!

# ipinfo.io IP Address Data API
IPINFO_ACCESS_TOKEN=ADDIPINFOTOKEN!!!

ELASTICSEARCH_URL=CONFIGUREELASTICSEARCH!!!

MAPBOX_ACCESS_TOKEN=CONFIGUREMAPBOX!!!

# Nexmo SMS API
NEXMO_API_KEY=
NEXMO_API_SECRET=
NEXMO_DEFAULT_FROM=
